streamlit
opencv-python-headless
pymongo
scikit-learn
numpy
streamlit-webrtc
bcrypt
mediapipe
python-dotenv
tensorflow==2.12.0
deepface==0.0.83  # RetinaFace destekli sürüm
keras==2.12.0
mtcnn
matplotlib
Pillow
